<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><block name="web_title">管理后台登录</block></title>
<link href="/static/module/admin/css/vip.css" rel="stylesheet" type="text/css" />
<link href="/static/module/admin/css/skin_01.css" rel="stylesheet" type="text/css">
</head>
<body>
<block name="main">

</block>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<block name="footerjs">

</block>
</body>
</html>

